<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871676728917-ft6i4rhvtuv8htsplusrg6o3h9o4lt7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871676728917-ft6i4rhvtuv8htsplusrg6o3h9o4lt7l</string>
	<key>API_KEY</key>
	<string>AIzaSyBV10G6_g_5PQVn8kWTyX2L_FUZkSMBCFY</string>
	<key>GCM_SENDER_ID</key>
	<string>871676728917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unityEats</string>
	<key>PROJECT_ID</key>
	<string>unity-eats-216bf</string>
	<key>STORAGE_BUCKET</key>
	<string>unity-eats-216bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871676728917:ios:8a02b17b0adfac1b82e6dc</string>
</dict>
</plist>